# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
build/
dist/

# ----------------------
# macOS
# ----------------------
.DS_Store

# ----------------------
# IDE / Editors
# ----------------------
.idea/
.vscode/

# ----------------------
# Spark / Delta temp data
# ----------------------
tmp/
tmp/*
.ivy2/
delta/
_delta_log/
*_checkpoint/
checkpoint/

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# Docker
# ----------------------
*.env
.env

# ----------------------
# Jupyter
# ----------------------
.ipynb_checkpoints/

# ----------------------
# Large local datasets (do not commit)
# ----------------------
notebooks/data/avazu_x1/
notebooks/data/avazu_x1/**
notebooks/data/avazu_x1.zip
